{% load static %}
<!doctype html>
<html lang='en'>
  <head>
    <title>MusicBox Interactive</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/favicon.ico' %}"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Iconic -->
    <link href="{% static 'dashboard/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">

    <!-- MusicBox style sheet -->
    <link rel="stylesheet" href="{% static 'dashboard/style/music_box.css' %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- MusicBox common JavaScript -->
    <script src="{% static 'dashboard/js/navigate.js' %}"></script>

    <!-- Set up after loading page -->
    <script>
      $(document).ready(function(){
        navSetLinks();
      });
    </script>

  </head>
  <body>
  <div data-role="page">

    <!-- Title -->
    <table cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="height: 56px;">
          <td id="projectlogo"><img alt="MusicBox" style="margin:10px 10px" height="60px" src="{% static 'dashboard/musica.png' %}"></td>
          <td id="projectalign" style="padding-left: 0.5em;">
            <div id="projectname">MusicBox &nbsp;<span id="projectnumber">v1.0</span>
            </div>
            <div id="projectbrief">MUSICA Box Model</div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Navbar -->
    <div data-role="header">
      {% include "dashboard/navbar.html" %}
    </div>

    <!-- Page content -->
    <div data-role="ui-content">
      {% block content %}
      <strong>Error: missing content block</strong>
      {% endblock %}
    </div>

  </div>
  </body>
</html>
