      <nav class="navbar navbar-dark">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left flex-row">
            <li class="nav-item"><a class="nav-link p-2 link-run-model" href="#"><span
                class="oi oi-bolt" toggle="tooltip" title="run the model"></span></a></li>
            <li class="nav-item"><a class="nav-link p-2 link-species" href="#"><span
                class="oi oi-beaker" toggle="tooltip" title="species"></span></a></li>
            <li class="nav-item"><a class="nav-link p-2 link-reactions" href="#"><span
                class="oi oi-random" toggle="tooltip" title="reactions"></span></a></li>
            <li class="nav-item"><a class="nav-link p-2 link-visualize" href="#"><span
                class="oi oi-graph" toggle="tooltip" title="visualize the results"></span></a></li>
          </ul>
        </div>
      </nav>
